# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Next.js
.next/
out/
.vercel/
.turbo/

# Entornos
.env
.env.*
!.env.example

# Miscelánea
.DS_Store
*.log
coverage/
dist/
build/
.cache/
.idea/
.vscode/
